// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

$main-heading: 'Poppins', sans-serif;
$sub-heading: 'Poppins', sans-serif;
$header-font: 'Poppins', sans-serif;
$body-font: 'Poppins', sans-serif;

$tm-blue: #548FD2;
$tm-white: #fff;
$tm-black: #2E3C42;
$tm-green: #70C7B4;


body {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  font-family: $body-font;
  font-weight: normal;
  color: $tm-black;
}

h1 {
  font-family: $main-heading;
  font-weight: 700;
  font-size: 4em;
  margin: 0.5em 0 0.25em 0;
  color: $tm-white;
}

h2 {
  color: $tm-black;
}

ul {
  list-style-type: none;
  color: $tm-white;
  font-weight: 200;
}

p {
  font-family: $body-font;
  font-weight: 400;
  margin: 0.25em 0 0.25em 0;
}

button {
  margin-right: 200px;
}

// LANDING
.landing {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

.landing .context {
  width: 100%;
  position: absolute;
  top:50vh;  
}

.landing .context h1{
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.landing .background{
/*     background: RGBA(113, 223, 190, 1);   */
  background: #0CA789;
  width: 100%;
  height:100vh;
}

.landing .shapes{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.landing .shape{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.landing .shape:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.landing .shape:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.landing .shape:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.landing .shape:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.landing .shape:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.landing .shape:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.landing .shape:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.landing .shape:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.landing .shape:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.landing .shape:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}